.advantage__list {
  display: flex;
  list-style: none;
}

.advantage__list--backing {
  gap: 30px;
}

.advantage__items {
  width: calc((100% - 90px) / 4);
}

.advantage__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.advantage__text{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage__pretitle {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantage__cards {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  background-color: #f5f4fa;
  height: 120px;
  align-items: center;
}




