.work-container__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.work-reset {
  padding-top: 0;
}

.work-container__list {
  display: flex;
  list-style: none;
}

.work-container__items {
  margin-right: 30px;
  position: relative;
}

.work-container__pretitle {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;

  height: 70px;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.work-container__items--backing:last-child {
  margin-right: 0;
}
