.logo {
  display: inline-block;
}

.logo__first {
  font-family: var(--secondaryfont), sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo__first--black {
  color: #000000;
}
.logo__first--white {
  color: var(--white-color);
}

.logo--backing {
  margin-right: 93px;
}

.logo--bottom {
  margin-bottom: 20px;
}
